// RD Google Map
section.section
	.google-map-container( data-zoom="6" data-center='Prague, Czech Republic', data-icon='images/gmap_marker.png', data-icon-active='images/gmap_marker_active.png' )
		.google-map
		ul.google-map-markers
			li( data-location='Prague, Czech Republic', data-description='Prague, Czech Republic' )
			li( data-location='Oxford, UK', data-description='Oxford, UK' )
			li( data-location='Warsaw, Poland', data-description='Warsaw, Poland' )
			li( data-location='Kyiv, Ukraine', data-description='Kyiv, Ukraine' )
