// Experience since 1999
section.section.section-md.bg-white.novi-background.bg-cover
  .shell
    .range.range-70.range-sm-center.range-lg-justify
      .cell-sm-10.cell-md-6.cell-lg-5.text-block-1
        h4 Experience since 2006
        p Our company has been the leading provider of advertising services to American companies since 2006.
        p Randver is an integrated branding agency dedicated to creating genuine connections between our clients and their constituents. We were founded in 2006 as a full-service marketing and advertising agency.

        h4 Our Mission
        p We see our mission in providing innovative and effective integrated brand marketing and public relations solutions which help our clients grow their businesses and realize their marketing goals.

      .cell-sm-10.cell-md-6
        .row.grid-2
          .col-xs-6
            +jpg('about-1-273x214')
            +jpg('about-2-273x214')
          .col-xs-6
            +jpg('about-3-273x451')
="\n"