// Brands
+parallax-section({
  parallaxImage: 'parallax-1'
})
  .section-sm.owl-outer-navigation-wrap
    .shell
      // Owl Carousel
      .owl-carousel.owl-carousel_style-1.text-center(data-autoplay="true" data-items='1', data-xs-items='2', data-md-items='3', data-lg-items='4', data-dots='true' data-nav='false'  data-stage-padding='15', data-loop='true', data-margin='30', data-mouse-drag="false", data-nav-custom='#owl-carousel-nav')
        .item
          a.link-image(href='#')
            +png('brand-1-216x102_inverse')
        .item
          a.link-image(href='#')
            +png('brand-2-122x33_inverse')
        .item
          a.link-image(href='#')
            +png('brand-3-100x76_inverse')
        .item
          a.link-image(href='#')
            +png('brand-4-109x96_inverse')


    #owl-carousel-nav.owl-outer-navigation
      a.owl-arrow.owl-arrow-prev.fl-budicons-free-left161(href='#')
      a.owl-arrow.owl-arrow-next.fl-budicons-free-right163(href='#')
="\n"