// Rights
p.rights
  span=brandName
  span &nbsp;&copy;&nbsp;
  span(class="copyright-year")
  | .&nbsp;
  br.veil-xs 
  a.link-underline(href='privacy-policy.html') Privacy Policy
  | . Design&nbsp;by&nbsp;#[a(href="https://zemez.io/") Zemez]
