//
// Variables Custom
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:                #000;
$gray-darker:              #151515;
$gray-dark:                #2a2a2a;
$gray:                     #6b6b6b;
$gray-light:               #b7b7b7;
$gray-lighter:             #e3e3e3;

$primary:                  #ffe500;
$secondary:                #ebd618;
$secondary-1:              #25293f;

$white:                    #fff;

$gray-1:                   #f5f5f5;
$gray-2:                   #aaa;
$gray-3:                   #514f4c;
$gray-4-1:                 #f0f0f0;
$gray-4:                   #f8f8f8;
$gray-5:                   #b3b6c8;
$gray-6:                   #e5e7e9;
$gray-7:                   #424242;
$gray-8:                   #363636;
$gray-9:                   #e6e7ec;
$gray-10:                  #5a5b5d;

// Social
$facebook: #547abb;
$twitter: #44c0f3;
$google: #e75854;

$divider-inverse-color: rgba($white, .4);
 

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`. 
$body-bg:               $white;
//** Global text color on `<body>`.
$text-color:            $gray;

//** Global textual link color.
$link-color:            $primary;
//** Global textual link color.
$link-color:            $gray-darker;
//** Link hover color set via `darken()` function.
$link-hover-color:      $secondary;
$link-press-color:      $primary;
//** Link hover decoration.
$link-hover-decoration: none;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

// Import fonts


$font-family-sans-serif:  "PT Sans", Helvetica, Arial, sans-serif;
$font-family-serif:       'Raleway', "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   'Roboto Mono', Monaco, Consolas, "Courier New", monospace;


$font-family-base:        $font-family-sans-serif;
$font-family-sec:         $font-family-serif;

$fa: 'FontAwesome';


// Template width (w/o units)
$template-width:          1920;

// Template width var for resizing
$template-width-min:      ($template-width+1)*1px;
$layout-boxed-width:      1920px;


// Base FZ & LH (w/o units)
$base-text-size:          16;
$base-lh-size:            24;
$base-ls-size:            .05em;

$base-vm-size:            (($base-text-size*100)/$template-width)*1vw;


$font-size-base:          $base-text-size * 1px;
$font-size-large:         18px;
$font-size-small:         12px;

$font-weight-base:        400;

//PSD FZ headers /FOR EDIT (w/o units)
$Size-h1:                 70;
$Size-h2:                 48;
$Size-h3:                 36;
$Size-h4:                 24;
$Size-h5:                 18;
$Size-h6:                 16;

//PSD LH headers /FOR EDIT (w/o units)
$Lh-h1:                   84;
$Lh-h2:                   56;
$Lh-h3:                   48;
$Lh-h4:                   28;
$Lh-h5:                   24;
$Lh-h6:                   22;


//Calculating FZ headers
$font-size-h1:            $Size-h1*1px;
$font-size-h2:            $Size-h2*1px;
$font-size-h3:            $Size-h3*1px;
$font-size-h4:            $Size-h4*1px;
$font-size-h5:            $Size-h5*1px;
$font-size-h6:            $Size-h6*1px;


//** line-height for headers /FOR EDIT
// $font-lh-h_: floor((PSD l-h / $font-size-h1));

$font-lh-h1:              $Lh-h1 / $Size-h1;
$font-lh-h2:              $Lh-h2 / $Size-h2;
$font-lh-h3:              $Lh-h3 / $Size-h3;
$font-lh-h4:              $Lh-h4 / $Size-h4;
$font-lh-h5:              $Lh-h5 / $Size-h5;
$font-lh-h6:              $Lh-h6 / $Size-h6;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        ($base-lh-size / $base-text-size); // l-h/fz-base
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit;
$headings-font-weight:    700;
$headings-line-height:    1.2;
$headings-color:          $gray-darker;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

// Small screen / tablet
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

// Extra Large screen / 4k desktop
$screen-xl:                  1800px;
$screen-xl-min:              $screen-xl;
$screen-xl-desktop:          $screen-xl-min;

// So media queries don't overlap when required, provide a maximum
$screen-xxs-max:             ($screen-xs-min - 1);
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);
$screen-lg-max:              ($screen-xl-min - 1);

// Define media prefix
$medias: (0: null, $screen-xs-min : xs, $screen-sm-min : sm, $screen-md-min : md, $screen-lg-min : lg, $screen-xl-min : xl);

$screen-height-desktop: 800px;
$screen-height-desktop-1: 880px;
  
//== Flex Grid system
//
//## Define your custom flex responsive grid.

$shell-width:         270px;
$shell-xs-width:      480px;
$shell-sm-width:      750px;
$shell-md-width:      970px;
$shell-lg-width:      1200px;
$shell-xl-width:      1800px;

$range-ws:            50px;
$range-ws-sm:         30px;
$range-ws-lg:         66px;

$cell-count:          12;
$cell-spacing:        30px;
$cell-spacing-narrow: 8px;


//== Shadows
//
//##

$shadow-area-ambient: 0px 0px 1px 0 rgba(0, 0, 0, 0.15);
$shadow-area-xxs: 1px 1px 1px rgba(0, 0, 0, 0.15);
$shadow-area-xs: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
$shadow-area-sm: -1px 0px 10px 0px rgba($gray-dark, .12);
$shadow-area-md: -3px 5px 12px 0px rgba($gray-dark, .16);
$shadow-area-lg: 0 5px 23px 0 rgba(0, 0, 0, 0.15);
$shadow-area-xl: 0 12px 36px 0 rgba(0, 0, 0,.15);

//== Buttons variables
//
$btn-font-family:         $font-family-base;
$btn-font-size:           14px;
$btn-font-weight:         700;
$btn-lh-size:             1.2;


// Other
$border-radius-base: 0;

