extends  ../_skeleton

//- Includes

block variables
  - var activeIndex = 6
  - var pageName = '404 page'

block page
  // Page header
  include ../sections/_header-fullwidth

  section.breadcrumbs-custom.bg-image.novi-background.custom-bg-image(style='background-image: url(images/bg-image-1.jpg);')
    .shell
      p.heading-1.breadcrumbs-custom__title 404
  ="\n"
    
  // 404
  section.section.section-sm.bg-white.text-center.novi-background.bg-cover
    .shell: .range.range-fix.range-sm-center: .cell-lg-7
      h2 Sorry, but the page #[br.veil.reveal-md-block] was not found
      p.large You may have mistyped the address or the page may have moved.
      .group-sm.group-sm_mod-1 
        a.button.button-darker(href='index.html') Go to home page
        p.text-bold or
        a.button.button-primary(href='contacts.html') Contact us
  ="\n"

  include ../sections/_footer-corporate