extends  ../_skeleton

//- Includes
include ../elements/_ui-quote-light
include ../elements/_ui-quote-creative

block variables
	- var activeIndex = 7
	- var pageName = 'Breadcrumbs'

block page
	// Page Header
	include ../sections/_header-fullwidth

	section.breadcrumbs-custom.parallax-container(data-parallax-img=src = 'images/bg-image-11.jpg')
		.parallax-content
			.shell
				h2.breadcrumbs-custom__title Breadcrumbs

				ul.breadcrumbs-custom__path
					li: a(href='index.html') Home
					li: a(href='#') Elements
					li.active Breadcrumbs

	section.section.section-xs.bg-white.novi-background.bg-cover
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			h3 Breadcrumbs only title

	section.breadcrumbs-custom.bg-image.novi-background.custom-bg-image(style='background-image: url(images/bg-image-1.jpg);')
		.shell
			p.heading-1.breadcrumbs-custom__title New page
	="\n"

	section.section.section-xs.bg-white.novi-background.bg-cover
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			h3 Breadcrumbs

	section.breadcrumbs-custom.bg-image.novi-background.bg-cover(style='background-image: url(images/bg-image-1.jpg);')
		.shell
			h2.breadcrumbs-custom__title New page

			ul.breadcrumbs-custom__path
				li: a(href='index.html') Home
				li.active New page

	section.section.section-xs.bg-white.novi-background.bg-cover
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			h3 Breadcrumbs with parallax

	section.breadcrumbs-custom.parallax-container(data-parallax-img=src = 'images/bg-image-11.jpg')
		.parallax-content
			.shell
				h2.breadcrumbs-custom__title New page

				ul.breadcrumbs-custom__path
					li: a(href='index.html') Home
					li.active New page

	// Page Footer
	include ../sections/_footer-corporate



