extends  ../_skeleton

//- Includes
include ../elements/_ui-quote-light
include ../elements/_ui-quote-creative

block variables
	- var activeIndex = 7
	- var pageName = 'Counters'


block page
	// Page Header
	include ../sections/_header-fullwidth

	section.breadcrumbs-custom.parallax-container(data-parallax-img=src = 'images/bg-image-11.jpg')
		.parallax-content
			.shell
				h2.breadcrumbs-custom__title Counters

				ul.breadcrumbs-custom__path
					li: a(href='index.html') Home
					li: a(href='#') Elements
					li.active Counters

	section.section.section-xs.bg-gray-1.novi-background.bg-cover
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			h3 Counters 1

	// Counters
	+parallax-section({
		parallaxImage: 'parallax-3'
	})
		.section-md.text-center
			.shell.shell-wide
				ul.list-blocks
					li.list-blocks__item: .list-blocks__item-inner.novi-background.bg-cover
						article.box-counter-modern
							.box-counter-modern__wrap
								.counter(data-zero='true') 11
							p.box-counter-modern__title Years in the industry

					li.list-blocks__item: .list-blocks__item-inner.novi-background.bg-cover
						article.box-counter-modern
							.box-counter-modern__wrap
								.counter(data-zero='true') 35
							p.box-counter-modern__title Partners worldwide

					li.list-blocks__item: .list-blocks__item-inner.novi-background.bg-cover
						article.box-counter-modern
							.box-counter-modern__wrap
								span #
								span.big 01
							p.box-counter-modern__title Advertising agency

					li.list-blocks__item: .list-blocks__item-inner.novi-background.bg-cover
						article.box-counter-modern
							.box-counter-modern__wrap
								.counter(data-zero='true') 264
							p.box-counter-modern__title Successful projects
	="\n"

	section.section.section-xs.bg-gray-1.novi-background.bg-cover
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			h3 Counters 2

	// Counter
	section.section.section-md.bg-gray-dark(style='background-color: #3c3c3c;')
		.shell
			.range.range-50
				.cell-xs-6.cell-md-3
					// Box counter
					article.box-counter-modern.box-counter-bordered
						.box-counter-modern__wrap
							.counter(data-zero='true') 35
						p.box-counter-modern__title Partners worldwide

				.cell-xs-6.cell-md-3
					// Box counter
					article.box-counter-modern.box-counter-bordered
						.box-counter-modern__wrap
							span.small #
							.big(data-zero='true') 01
						p.box-counter-modern__title Advertising agency

				.cell-xs-6.cell-md-3
					// Box counter
					article.box-counter-modern.box-counter-bordered
						.box-counter-modern__wrap
							.counter(data-zero='true') 264
						p.box-counter-modern__title Successful projects

				.cell-xs-6.cell-md-3
					// Box counter
					article.box-counter-modern.box-counter-bordered
						.box-counter-modern__wrap
							.counter(data-zero='true') 17
						p.box-counter-modern__title Years in the industry
	="\n"

	section.section.section-xs.bg-gray-1.novi-background.bg-cover
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			h3 Counters 3

	// Counters
	+parallax-section({
		parallaxImage: 'bg-image-3'
	})
		.shell
			.range.range-condensed.range-custom-bordered
				.cell-xs-6.cell-sm-3
					// Box counter
					article.box-counter
						.box-counter__wrap
							.counter(data-zero='true') 10
						p.box-counter__title Years of Experience

				.cell-xs-6.cell-sm-3
					// Box counter
					article.box-counter
						.box-counter__wrap
							.counter(data-zero='true') 7
						p.box-counter__title Partners Worldwide

				.cell-xs-6.cell-sm-3
					// Box counter
					article.box-counter
						.box-counter__wrap
							.counter(data-zero='true') 26
						p.box-counter__title Qualified Specialists

				.cell-xs-6.cell-sm-3
					// Box counter
					article.box-counter
						.box-counter__wrap
							.counter(data-zero='true') 12
						p.box-counter__title International Awards
	="\n"

	// Page Footer
	include ../sections/_footer-corporate



