extends  ../_skeleton

//- Includes
include ../elements/_ui-quote-light
include ../elements/_ui-quote-creative

block variables
	- var activeIndex = 7
	- var pageName = 'Map'


block page
	// Page Header
	include ../sections/_header-fullwidth

	section.breadcrumbs-custom.parallax-container(data-parallax-img=src = 'images/bg-image-11.jpg')
		.parallax-content
			.shell
				h2.breadcrumbs-custom__title Map

				ul.breadcrumbs-custom__path
					li: a(href='index.html') Home
					li: a(href='#') Elements
					li.active Map

	section.section.section-xs.bg-gray-1.novi-background.bg-cover
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			h3 Map with information

	section.section.section-lg.bg-white.novi-background.bg-cover
		.shell
			.range.range-30.range-sm-center.range-lg-justify
				.cell-sm-9.cell-md-6.cell-xl-6
					.google-map-container.google-map-container-1( data-zoom="6" data-center='Prague, Czech Republic', data-icon='images/gmap_marker.png', data-icon-active='images/gmap_marker_active.png' )
						.google-map
						ul.google-map-markers
							li( data-location='Prague, Czech Republic', data-description='Prague, Czech Republic' )

				.cell-sm-9.cell-md-6.cell-xl-5
					h3 Contact information
					p You can contact us any way that is convenient for you. We are available 24/7 via fax or email. You can also visit us personally.

					ul.list-contacts
						li
							.unit.unit-horizontal.unit-spacing-xxs
								.unit__left: span.novi-icon.icon.icon-sm.icon-primary.material-icons-local_phone
								.unit__body
									ul.contact-list
										li: a(href='tel:#') 1-800-1234-567
						li
							.unit.unit-horizontal.unit-spacing-xxs
								.unit__left: span.novi-icon.icon.icon-sm.icon-primary.mdi.mdi-email-outline
								.unit__body
									ul.contact-list
										li: a(href='mailto:#') info@demolink.org
						li
							.unit.unit-horizontal.unit-spacing-xxs
								.unit__left: span.novi-icon.icon.icon-sm.icon-primary.material-icons-location_on
								.unit__body
									ul.contact-list
										li: a(href='#') 6036 Richmond hwy., Alexandria, VA, 2230

					ul.list-inline-sm.list-social-contact
						li: a.icon.novi-icon.icon-middle.icon-sm.icon-default.fa.fa-facebook(href='#')
						li: a.icon.novi-icon.icon-middle.icon-sm.icon-default.fa.fa-twitter(href='#')
						li: a.icon.novi-icon.icon-middle.icon-sm.icon-default.fa.fa-google(href='#')
						li: a.icon.novi-icon.icon-middle.icon-sm.icon-default.fa.fa-youtube(href='#')

	section.section.section-xs.bg-gray-1.novi-background.bg-cover
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			h3 Map boxed

	// Get in Touch
	section.section.section-lg.bg-white.novi-background.bg-cover.text-center
		.shell
			h2 Find us on a map
			.google-map-container( data-zoom="6" data-center='Prague, Czech Republic', data-icon='images/gmap_marker.png', data-icon-active='images/gmap_marker_active.png' )
				.google-map
				ul.google-map-markers
					li( data-location='Prague, Czech Republic', data-description='Prague, Czech Republic' )

	section.section.section-xs.bg-gray-1.novi-background.bg-cover
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			h3 Map fullwidth

	include ../sections/_section-map

	// Page Footer
	include ../sections/_footer-corporate



