extends  ../_skeleton

//- Includes
include ../elements/_ui-post-modern

block variables
  - var activeIndex = 4
  - var pageName = 'News'

block page
  // Page Header
  include ../sections/_header-fullwidth

  +breadcrumbs({
    bgImage: 'bg-image-9',
    path: [[pageName]]
  })
    
  // News
  section.section.section-md.bg-gray-4.text-center.novi-background.bg-cover
    .shell
      .range.range-30
        .cell-sm-6.cell-md-4
          +post-modern({
            img: 'post-1-365x215',
            title: 'How We Measure the Increasing Vlogs\' Ad Potential',
            text: 'We have recently finished our research, which is closely connected'
          })
          
        .cell-sm-6.cell-md-4
          +post-modern({
            img: 'post-2-365x215',
            title: 'Digital Marketing Metrics That Really Matter Nowadays',
            text: 'Marketing is currently in a state of evolution where it is dispensing'
          })
          
        .cell-sm-6.cell-md-4
          +post-modern({
            img: 'post-3-365x215',
            title: 'How Outdated the Nielsen Metrics Are?',
            text: 'You probably know why Nielsen ratings are important, but you don’t'
          })
          
        .cell-sm-6.cell-md-8
          +post-modern({
            img: 'post-4-764x215',
            title: 'Email Newsletters Hit a Speed Bump with Inaccurate Open Rates',
            text: 'As Clover Letter Emails Got Bigger in size, Founders Say, Its Open Rate Collapsed. Email newsletters are just as effective when working with existing customers, as they were from the very start.Also, the part of the problem...'
          })
          
        .cell-sm-6.cell-md-4
          +post-modern({
            img: 'post-5-365x215',
            title: 'How We Can Help eCommerce Marketers',
            text: 'If you are an eCommerce marketer, you are probably looking for ways of'
          })
          
      +pagination
  ="\n"
 
  // Page Footer
  include ../sections/_footer-corporate



