extends  ../_skeleton

//- Includes
include ../elements/_ui-quote-light
include ../elements/_ui-thumb-zoe
include ../elements/_ui-card-creative
include ../elements/_ui-post-modern

block variables
	- var activeIndex = 7
	- var pageName = 'Sliders'


block page
	// Page Header
	include ../sections/_header-fullwidth

	section.breadcrumbs-custom.parallax-container(data-parallax-img=src = 'images/bg-image-11.jpg')
		.parallax-content
			.shell
				h2.breadcrumbs-custom__title Sliders

				ul.breadcrumbs-custom__path
					li: a(href='index.html') Home
					li: a(href='#') Elements
					li.active Sliders

	section.section.section-xs.bg-white.novi-background.bg-cover
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			h3 Slider with banners

	// Swiper
	section.section.section-layout-1.novi-section.novi-background
		.section-layout-main
			.swiper-container.swiper-slider.swiper-slider_style-2(data-loop='true' data-autoplay='false' data-simulate-touch="false" data-slide-effect='fade')
				.swiper-wrapper
					.swiper-slide(data-slide-bg='images/slider-slide-1-1464x660.jpg')
						.swiper-slide-caption
							.shell
								.range.range-fix
									.cell-sm-11.cell-md-10.cell-lg-9
										h1(data-caption-animate='fadeInUpSmall')
											span Full Cycle
											=" "
											span.custom-line Production
										.object-decorated
											h4(data-caption-animate='fadeInRightSmall' data-caption-delay='550') Whatever type of an advertising or promotional campaign you're about to launch, be sure that thanks to our in-depth expertise and the skills that our advertising pros have, it will all be done at one place!

					.swiper-slide(data-slide-bg='images/slider-slide-2-1464x660.jpg')
						.swiper-slide-caption
							.shell
								.range.range-fix
									.cell-sm-11.cell-md-10.cell-lg-9
										h1(data-caption-animate='fadeInUpSmall')
											span.custom-line Advertising
											=" "
											span in Print
										.object-decorated
											h4(data-caption-animate='fadeInRightSmall' data-caption-delay='550') We'll help you get your message to your clients by placing advertising in the best print magazines and newspapers in the country!

					.swiper-slide(data-slide-bg='images/slider-slide-3-1464x660.jpg')
						.swiper-slide-caption
							.shell
								.range.range-fix
									.cell-sm-11.cell-md-10.cell-lg-9
										h1(data-caption-animate='fadeInUpSmall')
											span.custom-line Online
											=" "
											span Advertising
										.object-decorated
											h4(data-caption-animate='fadeInRightSmall' data-caption-delay='550') Our team is ready to use all its experience to help you promote your products and services online to gain more potential customers than ever.

				.swiper-pagination

		.section-layout-aside
			.section-layout-aside__item: a.thumb-modern(href='#')
				+jpg('home-1-538x200', 'thumb-modern__image')
				.thumb-modern__caption
					p.thumb-modern__title Strategy

			.section-layout-aside__item: a.thumb-modern(href='#')
				+jpg('home-2-498x195', 'thumb-modern__image')
				.thumb-modern__caption
					p.thumb-modern__title Creativity

			.section-layout-aside__item: a.thumb-modern(href='#')
				+jpg('home-3-460x195', 'thumb-modern__image')
				.thumb-modern__caption
					p.thumb-modern__title Innovation
	="\n"

	section.section.section-xs.bg-white.novi-background.bg-cover
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			h3 Slider with pagination

	// Swiper
	section.section
		.swiper-container.swiper-slider.swiper-slider_style-2(data-loop='true' data-autoplay='false' data-simulate-touch="false" data-slide-effect='fade')
			.swiper-wrapper
				.swiper-slide(data-slide-bg='images/slider-slide-1-1464x660.jpg')
					.swiper-slide-caption
						.shell
							.range.range-fix
								.cell-sm-11.cell-md-10.cell-lg-9
									h1(data-caption-animate='fadeInUpSmall')
										span.custom-line Advertising
										=" "
										span in Print
									.object-decorated
										h4(data-caption-animate='fadeInRightSmall' data-caption-delay='550') We'll help you get your message to your clients by placing advertising in the best print magazines and newspapers in the country!

				.swiper-slide(data-slide-bg='images/slider-slide-2-1464x660.jpg')
					.swiper-slide-caption
						.shell
							.range.range-fix
								.cell-sm-11.cell-md-10.cell-lg-9
									h1(data-caption-animate='fadeInUpSmall')
										span.custom-line Online
										=" "
										span Advertising
									.object-decorated
										h4(data-caption-animate='fadeInRightSmall' data-caption-delay='550') Our team is ready to use all its experience to help you promote your products and services online to gain more potential customers than ever.

				.swiper-slide(data-slide-bg='images/slider-slide-3-1464x660.jpg')
					.swiper-slide-caption
						.shell
							.range.range-fix
								.cell-sm-11.cell-md-10.cell-lg-9
									h1(data-caption-animate='fadeInUpSmall')
										span Full Cycle
										=" "
										span.custom-line Production
									.object-decorated
										h4(data-caption-animate='fadeInRightSmall' data-caption-delay='550') Whatever type of an advertising or promotional campaign you're about to launch, be sure that thanks to our in-depth expertise and the skills that our advertising pros have, it will all be done at one place!

			.swiper-pagination
	="\n"

	section.section.section-xs.bg-white.novi-background.bg-cover
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			h3 Slider with navigation

	// Swiper
	section.section
		.swiper-container.swiper-slider.swiper-slider_style-2(data-loop='true' data-autoplay='false' data-simulate-touch="false" data-slide-effect='fade')
			.swiper-wrapper
				.swiper-slide(data-slide-bg='images/slider-slide-1-1464x660.jpg')
					.swiper-slide-caption
						.shell
							.range.range-fix.range-sm-center.text-center
								.cell-sm-10.cell-md-10.cell-lg-9
									h1(data-caption-animate='fadeInUpSmall')
										span.custom-line Advertising
										=" "
										span in Print
									.object-decorated
										h4(data-caption-animate='fadeInUpSmall' data-caption-delay='550') We'll help you get your message to your clients by placing advertising in the best print magazines and newspapers in the country!

				.swiper-slide(data-slide-bg='images/slider-slide-2-1464x660.jpg')
					.swiper-slide-caption
						.shell
							.range.range-fix.range-sm-center.text-center
								.cell-sm-10.cell-md-10.cell-lg-9
									h1(data-caption-animate='fadeInUpSmall')
										span.custom-line Online
										=" "
										span Advertising
									.object-decorated
										h4(data-caption-animate='fadeInUpSmall' data-caption-delay='550') Our team is ready to use all its experience to help you promote your products and services online to gain more potential customers than ever.

				.swiper-slide(data-slide-bg='images/slider-slide-3-1464x660.jpg')
					.swiper-slide-caption
						.shell
							.range.range-fix.range-sm-center.text-center
								.cell-sm-10.cell-md-10.cell-lg-9
									h1(data-caption-animate='fadeInUpSmall')
										span Full Cycle
										=" "
										span.custom-line Production
									.object-decorated
										h4(data-caption-animate='fadeInUpSmall' data-caption-delay='550') Whatever type of an advertising or promotional campaign you're about to launch, be sure that thanks to our in-depth expertise and the skills that our advertising pros have, it will all be done at one place!

			.swiper-pagination.text-center.mobile-pagination

			.swiper-navigation
				.swiper-button-prev.mdi.mdi-arrow-left
				.swiper-button-next.mdi.mdi-arrow-right
	="\n"

	// Page Footer
	include ../sections/_footer-corporate