extends  ../_skeleton

//- Includes
include ../elements/_ui-quote-light
include ../elements/_ui-quote-creative

block variables
	- var activeIndex = 7
	- var pageName = 'Testimonials'


block page
	// Page Header
	include ../sections/_header-fullwidth

	section.breadcrumbs-custom.parallax-container(data-parallax-img=src = 'images/bg-image-11.jpg')
		.parallax-content
			.shell
				h2.breadcrumbs-custom__title Testimonials

				ul.breadcrumbs-custom__path
					li: a(href='index.html') Home
					li: a(href='#') Elements
					li.active Testimonials

	section.section.section-xs.bg-gray-1.novi-background.bg-cover
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			h3 Testimonial boxed

	// Testimonials
	section.section.section-md.bg-white
		.shell
			.range.range-50
				.cell-sm-6.cell-md-4
					+quote-creative({
						img: 'testimonials-1-88x88',
						text: "Randver was a great strategic partner and provided valuable insights to support our turnaround. Their understanding of our business resulted in useful recommendations.",
						cite: "Samuel Johnson",
						small: "CEO “BTC Ltd.”"
					})

				.cell-sm-6.cell-md-4
					+quote-creative({
						img: 'testimonials-2-88x88',
						text: "Your company is very knowledgeable. I love the approach you bring to problems. I have always felt that the people here were part of our team as they did amazing job.",
						cite: "John Williams",
						small: "CEO “InterInverse”"
					})

				.cell-sm-6.cell-md-4
					+quote-creative({
						img: 'testimonials-3-88x88',
						text: "This advertising agency has been critical in the growth of our marketing capabilities, especially in a part of our business where we were trying to go to another brand.",
						cite: "Will Peters",
						small: "CEO “Betaworks”"
					})

				.cell-sm-6.cell-md-4
					+quote-creative({
						img: 'testimonials-4-88x88',
						text: "We have complete confidence that your recommendations and solutions will be actionable. We believe that you will deliver exactly what we need — and better.",
						cite: "James Cooper",
						small: "CEO ”PowerUp”"
					})

				.cell-sm-6.cell-md-4
					+quote-creative({
						img: 'testimonials-5-88x88',
						text: "Randver is a collaborative, strategic consulting firm — they help you get deeper understanding of your business, the competitors, and what you need to do to win.",
						cite: "Max Clark",
						small: "CEO “EcoStar”"
					})

				.cell-sm-6.cell-md-4
					+quote-creative({
						img: 'testimonials-6-88x88',
						text: "Randver is a consultancy that fills the gap between the ad agency and management consultants. More process and structure than an agency, which makes them a perfect fit.",
						cite: "Donald Stewart",
						small: "CEO “iStep”"
					})
	="\n"

	section.section.section-xs.bg-gray-1.novi-background.bg-cover
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			h3 Testimonial with brands

	section.section.section-md.bg-white.text-center.novi-background.bg-cover
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			// Section Header
			.section__header
				h2 Clients
				.section__header-element
					a.link.link-arrow(href='contacts.html'): span Get a Quote

		.shell-fluid
			.range.range-condensed.range-md-reverse.range-flex
				.cell-md-6.bg-gray-dark.bg-image.novi-background.custom-bg-image(style='background-image: url(images/parallax-5.jpg);'): .section-variant-1
					// Owl Carousel
					.owl-carousel.owl-carousel_style-3(data-items='1' data-autoplay="true" data-dots='true' data-nav='true' data-stage-padding='0' data-loop='true' data-margin='30' data-mouse-drag="false")
						.item
							+quote-light({
								img: 'testimonials-1-88x88',
								text: "Randver was a great strategic partner and provided valuable insights to support our turnaround. Their understanding of our business and the marketplace resulted in recommendations to help fuel our success.",
								cite: "Samuel Johnson",
								small: "CEO “BTC Ltd.”"
							})

						.item
							+quote-light({
								img: 'testimonials-2-88x88',
								text: "Your company is very knowledgeable. I love the approach you bring to problems. I have always felt that the people here were part of our team. To this day, that is a huge differentiator.",
								cite: "John Williams",
								small: "CEO “InterInverse”"
							})

						.item
							+quote-light({
								img: 'testimonials-3-88x88',
								text: "This advertising agency has been critical in the growth of our marketing capabilities, especially in a part of our business where we were trying to go from one brand to another very quickly.",
								cite: "Will Peters",
								small: "CEO “Betaworks”"
							})

				.cell-md-6
					.link-block-group.novi-section
						a.link-block.link-block-light.novi-background(href='#'): +png('brand-1-216x102')
						a.link-block.novi-background(href='#'): +png('brand-2-155x34')
						a.link-block.novi-background(href='#'): +png('brand-3-122x33')
						a.link-block.link-block-light.novi-background(href='#'): +png('brand-4-100x76')

	section.section.section-xs.bg-gray-1.novi-background.bg-cover
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			h3 Testimonial fullwidth

	+parallax-section({
		parallaxImage: 'bg-image-3',
		contentClass: 'section-lg'
	})
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			h2.text-center Testimonials
			// Owl Carousel
			.owl-carousel.owl-carousel-2.owl-carousel_style-3(data-items='1' data-sm-items='2' data-md-items='3' data-autoplay="true" data-dots='true' data-nav='true' data-stage-padding='0' data-loop='true' data-margin='30' data-mouse-drag="false")
				.item
					+quote-light({
						img: 'testimonials-1-88x88',
						text: "Randver was a great strategic partner and provided valuable insights to support our turnaround. Their understanding of our business and the marketplace resulted in recommendations to help fuel our success.",
						cite: "Samuel Johnson",
						small: "CEO “BTC Ltd.”"
					})

				.item
					+quote-light({
						img: 'testimonials-2-88x88',
						text: "Your company is very knowledgeable. I love the approach you bring to problems. I have always felt that the people here were part of our team. To this day, that is a huge differentiator.",
						cite: "John Williams",
						small: "CEO “InterInverse”"
					})

				.item
					+quote-light({
						img: 'testimonials-3-88x88',
						text: "This advertising agency has been critical in the growth of our marketing capabilities, especially in a part of our business where we were trying to go from one brand to another very quickly.",
						cite: "Will Peters",
						small: "CEO “Betaworks”"
					})

	// Page Footer
	include ../sections/_footer-corporate



