//
// Backgrounds
// --------------------------------------------------

// For dark backgrounds
%context-dark-all {
  &, #{headings()} {
    color: $white;
  }

  .heading-decorated {
    &::before {
      border-color: $divider-inverse-color;
    }
  }

  // Icons
  .icon-default {
    color: $white;
  }

  .icon-style-modern {
    color: $white;
    border-color: $divider-inverse-color;
  }

  // Dividers
  .divider {
    background: $divider-inverse-color;
  }

  // Lists
  .list-terms-inline { color: $white; }
  .list-nav { color: $white; }
  .list-blocks__item { color: $white; }

  .list-blocks__item::before,
  .list-blocks__item-inner {
    background: rgba($white, .25);
  }

  .list_darker li { color: $white; }

  .list-nav-bordered {
    > li {
      color: $white;
    }

    > li:not(:last-child):after {
      border-right-color: rgba($white, .12);
    }
  }

  // Boxes
  .box-counter {
    &::after {
      background: $white;
    }
  }

  .box-counter__title,
  .box-counter__wrap {
    color: $white;
  }

  .box-decorated { border-left-color: $divider-inverse-color; }
  .box-counter-modern { color: $white; }
  
  // Counters
  .time_circles > div > h4 {
    color: rgba($white, .8);
  }

  // Buttons
  .button-gray-dark {
    @include btn-variant($gray-dark, $white, $white, $white, $gray-dark, $gray-dark);
  }

  // Posts
  .post-light__title { color: $white; }

  // MailForm
  .rd-mailform {
    .form-input {
      background: rgba($white, .14);
      border-color: transparent;
    }

    .form-label,
    .form-label-outsidr,
    .form-input,
    .form-validation {
      color: $white;
    }

    &.rd-mailform_sm {
      .form-validation {
        color: $white !important;
      }
    }

    .form-wrap.has-error .form-input {
      border-color: transparent;
    }
  }

  // Search form
  .rd-search.rd-search__outline {
    .form-input {
      border-color: rgba(#9f9f9f, .4);
      background-color: transparent;
    }

    .form-label,
    .form-input {
      color: $white;
    }
  }

  // Quotes
  .quote-minimal {
    color: $white;
  }

  .quote-creative {
    .cite { color: $white; }
  }

  .quote-light {
    .cite { color: $white; }
  }

  .quote-light__meta {
    > li:not(:last-child) {
      &::after {
        border-right-color: rgba($white, .48);
      }
    }
  }

  // Range custom
  .range-custom-bordered {
    [class*='cell'] {
      border-color: rgba($white, .4);
    }
  }

  .range-decorative {
    .range {
      border-left: 1px solid rgba($white, .4);
      border-right: 1px solid rgba($white, .4);

      > [class*="cell-"] {
        border-left: 1px solid rgba($white, .4);
        border-bottom: 1px solid rgba($white, .4);
      }
    }
  }

  .range-inner-bordered {
    [class*='cell'] {
      border-color: rgba($white, .12);
    }
  }

  .time_circles > div > span { color: $white; }
  .blurb-minimal__icon { color: $white; }
  .rights { color: rgba($white, .8) }

  @media (min-width: $screen-md-min) {
    * + .layout-bordered__aside {
      border-left: 1px solid rgba($white, .34);
    }
  }

  @media (max-width: $screen-xs-min - 1px), (min-width: $screen-md-min) {
    .layout-bordered__aside-item + .layout-bordered__aside-item {
      border-top: 1px solid rgba($white, .34);
    }
  }
}

// For dark gray colors only
%context-dark-gray {
  a {
    color: $white;

    &:hover {
      color: $primary;
    }
  }

  // Lists 
  .list-terms-inline {
    dt {
      color: $secondary;
    }
  }

  // Lists
  .list_darker {
    a {
      &:hover {
        color: $secondary;
      }
    }
  }

  //Links
  .link-arrow {

  }

  // Buttons
  .button-secondary {
    @include btn-variant-ujarak($gray-base, $secondary, $secondary, $gray-darker, $white, $white);
  }
  
  // Posts
  .post-light__title { 
    a:hover {
      color: $secondary;
    }
  }

  // Owl carousel
  .owl-carousel {
    .owl-dot {
      &,
      &:focus {
        background: rgba($white, .4);
      }

      &:hover,
      &.active {
        background-color: $primary;
      }
    }
  }
}

// For primary and similar colors
%context-dark-primary {
  a {
    color: $text-color;

    &:hover {
      color: $white;
    }
  }

  // Lists
  .list-nav-bordered {
    > li {
      color: $white;
    }
    
    > li.active > a,
    a:hover {
      color: $gray-darker;
    }
  }
  
  .list_darker {
    a {
      &:hover {
        color: $gray-darker;
      }
    }
  }

  // Buttons
  .button-secondary {
    @include btn-variant-ujarak($white, $secondary, $secondary, $gray-darker, $white, $white);
  }

  // Owl carousel
  .owl-carousel {
    .owl-dot {
      &,
      &:focus {
        background: rgba($white, .4);
      }

      &:hover,
      &.active {
        background-color: $gray-dark;
      }
    }
  }
}

/**
* Light backgrounds
*/
.context-light {
  &, #{headings()} {
    color: #3e4041;
  }
}

.bg-white {
  @include bg-behaviour($white);
}

.bg-gray-1 {
  @include bg-behaviour($gray-1);
}

.bg-gray-4 {
  @include bg-behaviour($gray-4);

  .card-creative {
    background: $white;

    &::before { border-color: $gray-4; }
  }

  .thumb-video_bordered {
    border-color: $white;
  }

  .quote-creative__main { border-color: $white; }
  .post-modern { background: $white; }
  .post-boxed { background: $white; }
  .post-boxed__main {
    > * + * {
      border-left-color: $gray-lighter;
    }
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
}

/**
* Dark gray backgrounds
*/
.bg-gray-dark {
  @extend %context-dark-all;
  @extend %context-dark-gray;
  @include bg-behaviour($gray-dark);

  // Buttons
  .button-darker {
    @include btn-variant-ujarak($white, #404040, #404040, $white, $primary, $primary);
  }
}

.bg-gray-darker {
  @include bg-behaviour($gray-darker);
  @extend %context-dark-all;
  @extend %context-dark-gray;
}

.bg-gray-base {
  @include bg-behaviour($gray-base);
  @extend %context-dark-all;
  @extend %context-dark-gray;

  // Divider
  .divider {
    background: rgba($white, .12);
  }

  // Rights
  .rights {
    color: $white;
  }
}

.bg-gray-3 {
  @include bg-behaviour($gray-3);
  @extend %context-dark-all;
  @extend %context-dark-gray;
}

.bg-gray-7 {
  @include bg-behaviour($gray-7);
  @extend %context-dark-all;
  @extend %context-dark-gray;
}

.bg-gray-8 {
  @include bg-behaviour($gray-8);
  @extend %context-dark-all;
  @extend %context-dark-gray;

  // Divider
  .divider {
    background: rgba($white, .12);
  }
  
  // Rights
  .rights {
    color: $white;
  }
}

.bg-gray-10 {
  @include bg-behaviour($gray-10);
  @extend %context-dark-all;
  @extend %context-dark-gray;
}

/**
* Primary & primary-like backgrounds
*/
.bg-primary {
  @extend %context-dark-all;
  @extend %context-dark-primary;
  @include bg-behaviour($primary);

  // Buttons
  .button-primary {
    @include btn-variant($gray-dark, $white, $white, $white, $gray-dark, $gray-dark);

    &::before,
    &::after {
      display: none;
    }
  }
}

/**
* Background Image
*/
.bg-image {
  background-size: cover;
  background-position: center center;
}

html:not(.tablet):not(.mobile) {
  .bg-fixed {
    @media (min-width: $screen-md-min) {
      background-attachment: fixed;
    }
  }
}