//
// Boxes
// --------------------------------------------------
.box-custom {
  h2 * { vertical-align: baseline; }
  .object-decorated_inline {
    font-family: $font-family-base;
    font-weight: 400;
    opacity: .46;
  }
}

.box-counter {
  padding: 25px 0;
  position: relative;
  text-align: center;
  color: $gray-dark;
}

.box-counter__title {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  max-width: 80%;
}

.box-counter__wrap {
  font-size: 45px;
  font-weight: 400;
  line-height: 1.2;

  > * {
    display: inline;
    font: inherit;
    font-weight: 700;
  }
}

* + .box-counter__title { margin-top: 10px; }
* + .box-counter__wrap { margin-top: 20px; }

@media (min-width: $screen-md-min) {
  .box-counter__title {
    font-size: 18px;
  }
}

@media (min-width: $screen-lg-min) {
  .box-counter {
    padding: 30px 20px 40px;
  }

  .box-counter__wrap {
    font-size: 70px;
  }

  .box-counter__title {
    font-size: $font-size-h5;
    max-width: 60%;
  }

  * + .box-counter__wrap { margin-top: 30px; }
  * + .box-counter__title { margin-top: 7px; }
}

// Box counter modern
.box-counter-modern {
  text-align: center;
  color: $gray-darker;
}

.box-counter-bordered {
  padding: 35px 20px;
  border: 1px solid #696969;
}

.box-counter-modern__wrap {
  font-size: 0;
  line-height: 0;

  > * {
    display: inline;
    padding: 0 2px; 
  }

  span {
    position: relative;
    top: 2px;
    font-size: 12px;
    vertical-align: top;
  }
  
  .medium {
    margin-right: -10px;
    font-size: 18px;
    line-height: 1;
    font-weight: 300;
  }

  .counter,
  .big {
    top: 0;
    vertical-align: baseline;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
  }
}

.box-counter-modern__title {
  max-width: 150px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0;
}

* + .box-counter-modern__title {
  margin-top: 12px;
}

@media (min-width: $screen-sm-min) {
  .box-counter-modern__wrap {
    .counter,
    .big {
      font-size: 40px;
    }

    .medium {
      top: 10px;
      font-size: 30px;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .box-counter-bordered {
    padding: 45px 40px;
  }

  .box-counter-modern__wrap {
    span {
      top: 20px;
      font-size: 24px;
    }
    
    .small {
      top: 5px;
    }

    .medium {
      font-size: 48px;
    }

    .counter,
    .big {
      font-size: 70px;
    }
  }

  .box-counter-modern__title {
    font-size: 18px;
    max-width: 140px;
  }
}

// Box minimal
.box-minimal {
  text-align: center;

  .box-minimal__icon {
    font-size: 50px;
    line-height: 50px;
    color: $gray-darker;
  }
}

.box-minimal__divider {
  width: 36px;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  background: $primary;
}

.box-minimal__text {
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

* + .box-minimal__title {
  margin-top: 10px;
}

* .box-minimal__divider {
  margin-top: 20px;
}

* .box-minimal__text {
  margin-top: 15px;
}

// Box decorated
.box-decorated {
  padding-left: 20px;
  border-left: 1px solid $gray-darker;
  text-align: left;

  .box-decorated__title + * {
    margin-top: 15px;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .box-decorated {
    font-size: 11px;
  }
}

@media (min-width: $screen-lg-min) {
  .box-decorated {
    padding-left: 35px;
  }
}

// Box vacancy
.block-vacancy {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 40px 9%;
  border-radius: 4px;
  background: $white;
  box-shadow: $shadow-area-sm;

  &,
  &:active,
  &:focus,
  &:hover {
    color: $text-color;
  }

  &:hover {
    box-shadow: $shadow-area-md;
  }
}

.block-vacancy__meta {
  @include spacing(9px, 5px);

  > li {
    display: inline-block;

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    > * + * {
      margin-left: 6px;
    }
  }

  .icon {
    position: relative;
    top: 1px;
    font-size: 19px;
  }
}

* + .block-vacancy__meta {
  margin-top: 17px;
}

// Box spacer
//1
@media (min-width: $screen-md-min) {
  .box-spacer-1 {
    padding-left: 30px;
  }
}

@media (min-width: $screen-lg-min) {
  .box-spacer-1 {
    padding-left: 70px;
  }
}

// 2
@media (min-width: $screen-md-min) {
  .box-spacer-left {
    padding-left: 20px;
  }
}

@media (min-width: $screen-lg-min) {
  .box-spacer-left {
    padding-left: 50px;
  }
  .box-spacer-left-lg {
    padding-left: 100px;
  }
}

//3 
@media (min-width: $screen-md-min) {
  .box-spacer-right {
    padding-right: 20px;
  }
}

@media (min-width: $screen-lg-min) {
  .box-spacer-right {
    padding-right: 50px;
  }
}

// Box promo
.box-promo {
  position: relative;
  display: block;
  text-align: left;
  max-width: 320px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(0deg, rgba($gray-base, .4) 0%, rgba($gray-base, 0) 100%);
    z-index: 2;
  }

  img {
    width: 100%;
  }

  &:hover {
    box-shadow: $shadow-area-sm;
  }
}

.box-promo__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 20px 50px;
  z-index: 3;
  * {
    color: $white;
  }
}

// Box width
.box-width-1 {
  max-width: 470px;
}

.box-width-2 {
  @media (min-width: $screen-sm-min) {
    max-width: 290px;
  }
}

// Box centered
.box-centered {
  margin-left: auto;
  margin-right: auto;
}

// Box panel
.box-panel {
  position: relative;
  z-index: 2;
  margin: 20px 0 0;
  text-align: center;
}

.box-panel__inner {
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
}

.box-panel__item {
  width: 100%;
  padding: 20px 10px;
  text-align: left;
  border: 0 solid $gray-lighter;
}

@media (max-width: $screen-xs-min - 1px) {
  .box-panel__item {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .box-panel__item + .box-panel__item {
    border-top-width: 1px;
  }
}

@media (min-width: $screen-xs-min) {
  .box-panel__item {
    width: (100% / 3);
    text-align: center;
  }

  @media (max-width: $screen-xs-max) {
    .box-panel__inner {
      margin: 0 -10px;

      .box-panel__item .unit.unit-xs-vertical .unit__body {
        padding-top: 20px;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .box-panel__inner {
    @include justify-content(center);
    padding: 20px 0;
    background: $white;
    box-shadow: 0 0 9px 0 rgba($gray-base, 0.15);
  }

  .box-panel__item {
    padding: 20px 15px;
    .unit {
      @include display-inline-flex;
      text-align: left;
    }
  }

  * + .box-panel__inner { margin-top: 30px; }

  .box-panel__item + .box-panel__item {
    border-left-width: 1px;
  }
}

@media (min-width: $screen-md-min) {
  .swiper-slider + .box-panel {
    margin-top: -53px;
  }
}

@media (min-width: $screen-lg-min) {
  .box-panel__inner {
    padding: 30px 0;
  }

  .swiper-slider + .box-panel {
    margin-top: -80px;
  }
}

// Box bordered
.box-bordered {
}

.box-bordered__inner {
}

.box-bordered__title {
  position: relative;
  overflow: hidden;
  text-align: center;

  span {
    position: relative;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -2px;
      transform: translateY(-50%);
      width: 50vw;
      border-bottom: 5px solid $gray-4;
    }

    &::before {
      left: 0;
      transform: translateX(-100%);
    }

    &::after {
      right: 0;
      transform: translateX(100%);
    }
  }
}

* + .box-bordered__inner { margin-top: 20px; }

.box-bordered__item + .box-bordered__item { margin-top: 25px; }

@media (min-width: $screen-sm-min) {
  .box-bordered {
    border: 5px solid $gray-4;
    border-top-width: 0;
  }

  .box-bordered__title {
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 40px;
    transform: translateY(-50%);
  }

  .box-bordered__inner {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    padding: 0 20px 30px;
  }

  .box-bordered__item {
    width: 50%;
    padding: 0 20px 20px;
    border: 0 solid $gray-lighter;

    &:nth-child(odd) {
      padding-left: 0;
      border-right-width: 1px;
    }

    &:nth-child(even) {
      padding-right: 0;
    }

    &:nth-child(1),
    &:nth-child(2) {
      padding-top: 0;
    }

    &:nth-last-child(1),
    &:nth-last-child(2) {
      padding-bottom: 0;
    }

    &:nth-child(n + 3) {
      border-top-width: 1px;
    }
  }

  .box-bordered__item + .box-bordered__item { margin-top: 0; }
}

@media (min-width: $screen-md-min) {
  .box-bordered__title {
    span {
      padding-left: 80px;
      padding-right: 80px;
    }
  }

  .box-bordered__inner {
    padding: 0 45px 45px;
  }

  .box-bordered__item {
    padding: 40px 45px;
  }
}

@media (min-width: $screen-lg-min) {
  .box-bordered__inner {
    padding-bottom: 55px;
  }

  .box-bordered__item {
    padding: 55px 62px;
  }

  * + .box-bordered__inner { margin-top: 45px; }
}

// flex cell
.range-flex {
  > [class*="cell-"] {
    display: flex;

    > * {
      flex-grow: 1;
      max-width: 100%;
    }
  }
}