//
// Comments
// --------------------------------------------------

.comment {
  @include display-flex;
  @include flex-direction(row);
  @include align-items(flex-start);
  text-align: left;
}

.comment-group {
  .comment-group {
    padding-left: 20px;

    .comment-group {
      padding-left: 10px;
    }
  }
}

.comment__main {
  padding-left: 12px;
}

.comment__header {
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include align-items(center);
  @include justify-content(space-between);
  @include spacing(20px, 10px);
}

.comment__image {
  max-width: 100px;
  border-radius: 50%;
}

.comment__title {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: $gray-darker;
}

.comment__time {
  font-weight: 500;
  color: $gray-darker;
}

.comment__text {
}

.comment__list {
  @include spacing(20px, 10px);
  font-size: 13px;
  font-weight: 500;
  color: $gray-darker;
  
  > li { 
    display: inline-block;
    vertical-align: middle;

    * { vertical-align: middle; }
    
    * + * {
      margin-left: 8px;
    }
    
    > a {
      transition: color .22s;
      
      &:hover {
        &, .icon {
          color: $primary;
        }
      }
    }
  }
  
  .icon {
    margin-top: 1px;
    font-size: 16px;
    color: #9fa3a7;
    transition: color .22s;
  }

  .mdi-comment-outline {
    margin-top: 2px;
  }
}

.comment-group {
  position: relative;
  padding-bottom: 30px;
  
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 80%;
    border-bottom: 1px solid $gray-4;
  }
  
  .comment-group {
    padding-bottom: 0;
    &::before { display: none; }
    
    .comment {
      img {
        max-width: 52px;
      }
    }
  }
  
}
* + .comment__text { margin-top: 8px; }
* + .comment__footer { margin-top: 14px; }
* + .comment-group { margin-top: 30px; }
.comment + * { margin-top: 25px; }
.comment-group + .comment-group { margin-top: 30px; }

@media (min-width: $screen-sm-min) {
  .comment-group {
    max-width: 850px;
    .comment-group {
      padding-left: 100px;
      
      .comment {
        .comment__main {
          padding-left: 20px;
        }
      }

      .comment-group {
        padding-left: 50px;
      }
    }
  }

  .comment__main {
    padding-left: 30px;
  }

  .comment__header {
    padding-right: 20px;
    > * + * { margin-left: 20px; }
  }
  
  .comment__list {
    @include spacing(25px, 10px);
  }
}

@media (min-width: $screen-lg-min) {
  .comment-group {
    max-width: 850px;
    padding-bottom: 40px;
    .comment-group {
      padding-left: 135px;

      .comment-group {
        padding-left: 50px;
      }
    }
  }
  
  .comment-group + .comment-group {
    margin-top: 45px;
  }
}

// Comment box
.comment-box {
  max-width: 830px;
  .unit__body {
    @include flex-grow(1);
  }
  
  * + .rd-mailform {
    margin-top: 20px;
  }
}

.comment-box__image {
  border-radius: 50%;
}

* + .comment-box {
  margin-top: 30px;
}

@media (min-width: $screen-sm-min) {
  * + .comment-box {
    margin-top: 42px;
  }
}