//
// Main Styles
// ==================================================
//

// Body
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  letter-spacing: $base-ls-size;
  color: $text-color;
  background-color: $body-bg;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
}

// Links

a {
  color: $link-color;
  text-decoration: none;
  transition: .25s;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    outline: none;
  }

  &[href*='tel'],
  &[href*='mailto'] {
    white-space: nowrap;
  }
}

.link-hover {
  color: $link-hover-color;
}

.link-press {
  color: $link-press-color;
}

.p a:hover,
.list a:hover {
  text-decoration: underline;
}

// Images

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

p {
  img {
    margin-bottom: 10px;
  }

  @media (min-width: $screen-sm-min) {
    img {
      float: left;
      max-width: 45%;
      min-width: 200px;
      margin-right: 20px;

      &.img-right {
        float: right;
        margin-right: 0;
        margin-left: 20px;
      }
    }

    @media (min-width: $screen-sm-min) {
      img {
        margin-right: 30px;

        &.img-right {
          margin-left: 30px;
        }
      }
    }

    @media (min-width: $screen-lg-min) {
      img {
        margin-right: 50px;

        &.img-right {
          margin-left: 50px;
        }
      }
    }
  }
}

p {
  * {
    display: inline;
  }

  a {
    color: $primary;

    &:hover,
    &:active,
    &.hover,
    &.active {
      color: $secondary;
    }
  }

  [data-toggle='tooltip'] {
    padding-left: .25em;
    padding-right: .25em;
    color: $gray-light;
  }
}

.text-block {
  margin-left: -.12em;
  * {
    margin-left: .12em;
    margin-right: .12em;
  }
}
