/*
*
* Page Loaders
* --------------------------------------------------
*/

#page-loader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  @include display-flex;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  padding: 20px 20px 10%;
  z-index: 9999999;
  background: $white;
  transition: .3s all ease;

  &.loaded {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }

  &.ending {
    display: none;
  }

  > * {
    width: 100%;
    text-align: center;
  }
  
  .page-loader-body {
    margin-top: 40px;
    text-align: center;
  }
}

[data-x-mode='design-mode'] {
  #page-loader {
    display: none;
  }
  
}

// Custom Styles
// -------------------------

#loadingProgressG {
  width: 400px;
  max-width: 90%;
  height: 5px;
  overflow: hidden;
  background: $gray-dark;
  border-radius: $border-radius-base;
  margin: auto;
}

.loadingProgressG {
  background: $primary;
  margin-top: 0;
  margin-left: -400px;
  animation-name: bounce_loadingProgressG;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 400px;
  height: 5px;
}

@include keyframes (bounce_loadingProgressG) {
  0% {
    margin-left: -400px;
  }

  100% {
    margin-left: 400px;
  }
}