//
// Price
// --------------------------------------------------

// Price 1
.price-1 {
  position: relative;
  padding: 35px 25px 40px;
  text-align: center;
  background: $gray-4;
  @include responsive-block;

  &::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 16px;
    bottom: 16px;
    left: 16px;
    border: 2px solid $gray-lighter;
    pointer-events: none;
    transition: .4s;
  }
}

.price-1__title {
  font-size: 18px;
  font-weight: 700;
  color: $headings-color;
}

* + .price-1__caption { margin-top: 15px; }

.card-creative__main {
  position: relative;
  padding-top: 10px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    background: $primary;
  }
}

@media (min-width: $screen-sm-min) {
  .price-1__title { font-size: 24px; }

  * + .price-1__caption { margin-top: 26px; }
}

@media (min-width: $screen-lg) {
  .price-1 { padding: 56px 55px 70px; }
}

// Price 2
.price-2 {
  text-align: center;
  background: $white;
  border: 2px solid $gray-lighter;
}

.price-2__main { padding: 20px 15px; }

.price-2__title {
  position: relative;
  z-index: 1;
  margin: -2px;
  margin-bottom: 0;
  padding: 18px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: $headings-color;
  background: $primary;
}

.title-dark {
  color: $white;
  background: $gray-base;
}

.price {
  font-size: 34px;
  line-height: 1.1;
  font-weight: 700;
  color: $headings-color;
}

* + .price { margin-top: 8px; }
* + .price-2__caption { margin-top: 15px; }

@media (min-width: $screen-lg) {
  .price-2 {
    * + .divider-1 { margin-top: 32px; }
  }

  .price-2__main { padding: 30px 50px 68px; }
  .price-2__title { font-size: 24px; }
  .price { font-size: 48px; }

  * + .price { margin-top: 0; }
  * + .price-2__caption { margin-top: 26px; }
}