//
// Table custom
// --------------------------------------------------

$table-head-padding: 25px 24px;
$table-cell-padding: 15px 24px;
$table-condensed-cell-padding: 5px;

$table-bg: $white;
$table-bg-accent: $gray-1;
$table-bg-hover: $secondary;
$table-bg-active: $table-bg-hover;

$table-border-color: $gray-lighter;

.table-custom {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  text-align: left;
  background: $table-bg;
  border-collapse: collapse;

  th,
  td {
    color: $gray-base;
    background: $table-bg;
  }

  th {
    padding: $table-head-padding;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background: $gray-1;
  }

  td {
    padding: $table-cell-padding;
  }

  tbody tr:first-child {
    td {
      border-top: 0;
    }
  }

 tr td {
   border-bottom: 1px solid $table-border-color;
 }
}

// Styles
.table-custom.table-custom-primary {
  thead th {
    color: $white;
    background: $gray-base;
    border: 0;
  }
}

.table-custom.table-custom-bordered {
  tr {
    td:first-child {
      border-left: 0;
    }
    
    td:last-child {
      border-right: 0;
    }
  }
  td {
    border: 1px solid $table-border-color;
  }

  tbody > tr:first-of-type > td {
    border-top: 0;
  }
}

.table-custom.table-custom-striped {
  tbody tr:nth-of-type(odd) td {
    background: transparent;
  }

  tbody tr:nth-of-type(even) td {
    background: $table-bg-accent;
  }

  tbody td {
    border: 0;
  }
  
  tfoot td {
    border-top: 0;
  }
  
  tfoot td:not(:first-child) {
    border-left: 0;
  }
}

// Modificators
.table-custom-responsive {
  overflow-x: auto;
  min-height: 0.01%;

  @media screen and (max-width: $screen-xs-max) {
    width: 100%;
    margin-bottom: 10px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid $table-border-color;

    // Tighten up spacing
    > .table-custom {
      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
          }
        }
      }
    }
  }
}