//
// Thumb
// --------------------------------------------------

.figure-light figcaption {
  padding-top: 10px;
  color: $gray-light;
}

// Thumb elegant
.thumb-elegant {
  display: block;
  position: relative;
  overflow: hidden;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  width: 100%;
  cursor: pointer;

  img {
    position: relative;
    width: 100%;
    transform: scale(1);
    will-change: transform;
    transition: .8s ease;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }

    .thumb-elegant__overlay {
      opacity: 1;

      &::before {
        transform: scale(1);
      }
    }
  }
}

.thumb-elegant__overlay {
  position: absolute;
  top: -1px;
  right: 0;
  bottom: 0;
  left: -1px;
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include align-items(center);
  @include justify-content(center);
  background: radial-gradient(rgba($gray-base, .28), rgba($gray-base, .1));
  opacity: 0;
  transition: all .4s ease-out;
  will-change: opacity, transform;
  pointer-events: none;

  &::before {
    position: relative;
    display: block;
    content: '\e042';
    font-family: 'fl-bigmug-line';
    font-size: 22px;
    color: $white;
    transform: scale(0);
    transition: all .4s ease-out;
  }
}

// Thumb light
.thumb-light {
  display: block;
  position: relative;

  img {
    position: relative;
    width: 100%;
  }

  &:hover {
    .thumb-light__overlay {
      transform: scale(1, 1);
      opacity: 1;

      &::before {
      }
    }
  }
}

.thumb-light__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include align-items(center);
  @include justify-content(center);
  background: rgba($white, .8);
  transform: scale(.9, .9);
  opacity: 0;
  transition: all .4s ease-out;
  pointer-events: none;

  &::before {
    position: relative;
    display: block;
    content: '\e09c';
    font-family: 'fl-bigmug-line';
    font-size: 18px;
    color: $gray-darker;
    transition: all .4s ease-out;
  }
}

// Thumb video
.thumb-video {
  @include display-flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
  color: $white;
  background: $secondary-1;

  .thumb-video__title {
    font-weight: 700;
    color: $white;
  }

  @media (min-width: $screen-md-min) {
    min-height: 415px;
  }
}

.thumb-video_bordered {
  border: 8px solid $gray-4;

  @media (min-width: $screen-sm-min) {
    border-width: 14px;
  }
}

.thumb-video__caption {
  position: relative;
  z-index: 2;
  @include display-flex;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  min-height: 300px;
  width: 100%;
  padding: 30px 40px;

  [data-x-mode="true"] & {
    pointer-events: none;

    > * { pointer-events: auto; }
  }
}


.thumb-video__button {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  text-align: center;
  background: rgba($gray-5, .51);
  font-size: 0;
  line-height: 0;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(#b3b6c8, .51);
    border-radius: 50%;
    transform: scale3d(1, 1, 1);
    opacity: 0;
    transition: .22s ease-out;
  }

  &::after {
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9.5px 0 9.5px 16px;
    border-color: transparent transparent transparent $white;
  }

  &:hover {
    &::before {
      opacity: 1;
      transform: scale3d(1.2, 1.2, 1);
    }
  }

  @media (min-width: $screen-lg-min) {
    width: 75px;
    height: 75px;

    &::after {
      border-width: 15px 0 15px 20px;
    }
  }
}

.thumb-video__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  opacity: .6;
}

@supports (object-fit: cover) {
  .thumb-video__image {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
    min-height: 250px;
    object-fit: cover;
    object-position: center center;
  }
}

* + .thumb-video__title { margin-top: 10px; }

@media (min-width: $screen-md-min) {
  .thumb-video__image {
    transition: 1.5s;
  }

  .thumb-video {
    &:hover {
      .thumb-video__image {
        transform: scale3d(1.1, 1.1, 1);
      }
    }
  }

  .ie-10,
  .ie-11 {
    .thumb-video__image {
      will-change: transform;
      transition: .77s;
    }

    .thumb-video {
      &:hover {
        .thumb-video__image {
          transform: translate(-50%, -50%) scale3d(1.1, 1.1, 1);
        }
      }
    }
  }
}

// Thumb modern
.thumb-modern {
  position: relative;
  overflow: hidden;
  z-index: 1;
  @include display-flex;
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(center);
  min-height: 120px;
  max-width: 600px;
  text-align: center;
  background: $white;
  color: $gray-base;

  &:focus,
  &:hover {
    color: $gray-base;
  }
}

.thumb-modern__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  max-width: none;
}

.thumb-modern__caption {
  position: relative;
  z-index: 2;
  padding: 30px 35px;
}

@media (min-width: $screen-sm) {
  .thumb-modern { min-height: 200px; }
}

@media (min-width: $screen-lg) {
  .thumb-modern { @include justify-content(flex-start) }
  .thumb-modern__caption { padding-left: 20%; }
}

.thumb-modern__title {
  font-family: $font-family-sec;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

@supports (object-fit: cover) {
  .thumb-modern__image {
    left: 0;
    top: 0;
    transform: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

@media (min-width: $screen-md-min) {
  .thumb-modern__title {
    font-size: 24px;
  }
}

html:not(.tablet):not(.mobile) {
  @media (min-width: $screen-md-min) {
    .thumb-modern__image {
      transition: opacity 0.4s, transform 0.35s;
    }

    .thumb-modern__title {
      font-size: 36px;
      transform: scale3d(.9, .9, .9);
      transition: transform 0.35s;
    }

    .thumb-modern {
      &:hover {
        .thumb-modern__image {
          opacity: 0.9;
          transform: translate(-50%, -50%) scale3d(1.05, 1.05, 1);
        }

        @supports (object-fit: cover) {
          .thumb-modern__image {
            transform: scale3d(1.05, 1.05, 1);
          }
        }

        .thumb-modern__title {
          transform: scale3d(1, 1, 1);
        }
      }
    }
  }
}

html:not(.tablet):not(.mobile)[data-x-mode="true"] .thumb-modern{
  &:hover {
    .thumb-modern__image {
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
    }

    @supports (object-fit: cover) {
      .thumb-modern__image {
        transform: scale3d(1, 1, 1);
      }
    }
  }
}

// Thumb Zoe
.thumb-zoe {
  position: relative;
  overflow: hidden;
  display: block;
  min-height: 100px;
  background: $gray-dark;
  text-align: center;
  cursor: pointer;
}

.thumb-zoe__caption {
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 5px;
  z-index: 2;
  padding: 23px 10px;
  background: rgba($gray-dark, .72);
}

.thumb-zoe__title {
  font-size: 14px;
  font-weight: 700;
  color: $white;
}

@supports (object-fit: cover) {
  .thumb-zoe__image {
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

html:not(.tablet):not(.mobile) {
  @media (min-width: $screen-md-min) {
    .thumb-zoe__caption {
      bottom: 0;
      left: 0;
      right: 0;
      transition: transform 0.35s;
      transform: translate3d(0, 100%, 0);
    }

    .thumb-zoe__title {
      transition: transform 0.35s .05s;
      transform: translate3d(0, 200%, 0);
    }

    .thumb-zoe {
      &:hover {
        .thumb-zoe__caption,
        .thumb-zoe__title {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}

@media (min-width: $screen-xl-min) {
  .thumb-zoe__title {
    font-size: 18px;
  }
}

.thumbnail-classic {
  position: relative;
  overflow: hidden;
  text-align: left;
  color: #fff;
}

.thumbnail-classic-xs {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail-classic-figure {
  display: block;

  img {
    width: 100%;
    transform: scale(1.1);
    transition: all 1s ease;
    will-change: transform;
  }
}

@media (min-width: 768px) {
  .desktop .thumbnail-classic:hover .thumbnail-classic-figure img {
    transform: scale(1);
  }
}
