//
// Timeline
// --------------------------------------------------
$size-1: 24px;
$timeline-bottom-padding: 20px;
$timeline-bottom-border-width: 8px;

.timeline {
}

.timeline__item {
  position: relative;
  padding-left: $size-1;
  text-align: left;

  @media (max-width: $screen-xs-max) {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  &::before {
    content: '';
    position: absolute;
    top: $size-1 / 2;
    bottom: 0;
    left: 0;
    width: $size-1 + 1px;
    border: 1px solid #909296;
    border-right-width: 0;
    border-bottom-width: 0;
  }

  @media (min-width: $screen-sm-min) {
    padding-bottom: $timeline-bottom-padding;
    border-bottom: $timeline-bottom-border-width solid rgba(#313338, .33);

    &::after {
      content: '';
      position: absolute;
      left: -$size-1 / 2;
      bottom: -$size-1 * .66;
      height: $size-1;
      width: $size-1;
      border-radius: 50%;
      background: $primary;
    }

    .timeline__item-wrap:nth-child(even) & {
      @include display-flex;
      @include flex-direction(column-reverse);
      padding-top: $timeline-bottom-padding;
      padding-bottom: 0;
      border-bottom: 0;
      margin-top: -$timeline-bottom-border-width;
      border-top: $timeline-bottom-border-width solid rgba(#313338, .55);

      &::before {
        top: 0;
        bottom: $size-1 / 2;
        border-top-width: 0;
        border-bottom-width: 1px;
      }

      &::after {
        top: -$size-1 * .66;
        bottom: auto;
      }

      .timeline__item-header {
        margin-top: 15px;
      }

      .timeline__item-main {
        margin-top: 0;
      }
    }
  }

  @media (min-width: $screen-lg-min) {
    padding-left: 56px;

    &::before {
      left: 56px - $size-1;
    }

    &::after {
      left: 56px - $size-1 * 1.5;
    }
  }
}

.timeline {
  display: block;
  > * + * {
    margin-top: 25px;
  }
}

@media (min-width: $screen-sm-min) {
  .timeline {
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
    > * + * {
      margin-top: 0;
    }
  }

  .timeline__item-wrap {
    display: inline-block;
    font-size: $font-size-base;
    line-height: $line-height-base;
    white-space: normal;
    width: (100%  / 3);
    padding: 0 4px;
  }

  .timeline__item-wrap:nth-child(odd) {
    vertical-align: text-bottom;
  }

  .timeline__item-wrap:nth-child(even) {
    vertical-align: text-top;
  }
}

.timeline__item-header {
  padding-left: 10px;
  > * { font-weight: 500; }
}

.timeline__item-main {
  @include clearfix;
  margin-top: 15px;

  img {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  p {
    margin-top: 0;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    img {
      float: none;
    }
  }

  @media (min-width: $screen-lg-min) {
    p {
      padding-top: 8px;
    }
  }
}

* + .timeline {
  margin-top: 30px;
}
