//
// Typography
// ==================================================
//

#{headings()} {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: $headings-font-weight;
  letter-spacing: .05em;
  color: $headings-color;

  a {
    color: inherit;
    transition: .3s all ease;

    &:hover {
      color: $secondary;
    }
  }

  * {
    display: inline;
    vertical-align: middle;
  }

  * + .mark-circle {
    margin-left: 10px;
  }
}

h1, h2, h3 {
  font-family: $font-family-sec;
}

h1,
.heading-1 {
  font-size: 32px;
  line-height: 1.2;

  @media (min-width: $screen-sm-min) {
    font-size: 56px;
    line-height: 1.4;
  }

  @media (min-width: $screen-md-min) {
    font-size: 62px;
    line-height: $font-lh-h1;
  }

  @media (min-width: $screen-lg-min) {
    font-size: $font-size-h1;
  }
}

h2,
.heading-2 {
  font-size: 26px;
  line-height: 1.3;

  @media (min-width: $screen-sm-min) {
    font-size: 38px;
    line-height: 1.3;
  }

  @media (min-width: $screen-md-min) {
    font-size: 45px;
  }

  @media (min-width: $screen-lg-min) {
    font-size: $font-size-h2;
    line-height: $font-lh-h2;
  }
}

.h2-variant-1 {
  font-weight: 400;

  @media (min-width: $screen-lg-min) {
    line-height: (75 / $Size-h2);
  }

  & + p {
    margin-top: 25px;
  }
}

h3,
.heading-3 {
  font-size: 24px;
  line-height: 1.27;

  @media (min-width: $screen-sm-min) {
    font-size: $font-size-h3;
    line-height: $font-lh-h3;
  }
}

h4,
.heading-4 {
  font-size: 20px;
  line-height: 1.35;

  @media (min-width: $screen-xl-min) {
    font-size: $font-size-h4;
    line-height: $font-lh-h4;
  }
}

h5,
.heading-5 {
  font-size: $font-size-h5;
  line-height: $font-lh-h5;
}

h6,
.heading-6 {
  line-height: $font-lh-h6;
  font-size: $font-size-h6;
}

.heading-7 {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: .1em;
  color: $text-color;
  text-transform: uppercase;
}

.heading-8 {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .1em;
  color: $gray-darker;
  text-transform: uppercase;
}

// Heading decorated
.heading-decorated {
  position: relative;
  padding-left: 2em;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: .58em;
    height: 0;
    width: 1.5em;
    border-bottom: 1px solid;
  }
}

@media (min-width: $screen-lg-min) {
  .heading-decorated {
    padding-left: 3.1em;

    &::before {
      width: 2.5em;
    }
  }
}

// Heading bordered
.heading-bordered {
  position: relative;
  padding-left: 26px;
  font-family: $font-family-base;
  font-weight: 400;

  &::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 0;
    bottom: 0;
    transform: rotate(45deg);
    border-left: 4px solid $primary;
  }

  @media (min-width: $screen-lg-min) {
    padding-left: 30px;
    border-left-width: 4px;
  }
}

// Big text
.big {
  @media (min-width: $screen-sm-min) {
    font-size: $font-size-large;
  }
}

.large {
  font-size: 14px;

  @media (min-width: $screen-sm-min) {
    font-size: 16px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 18px;
  }
}

// Small text
small,
.small {
  display: block;
  font-size: $font-size-small;
  line-height: (20 / 14);
}

mark,
.mark {
  padding: 4px 5px;
  color: $gray-base;
  background: $primary;
}

.mark-circle {
  display: inline-block;
  width: 22px;
  height: 22px;
  padding-left: 1px;
  border-radius: 50%;
  color: $gray-base;
  font-size: 16px;
  line-height: 21px;
  background: $primary;
  text-align: center;

  @media (min-width: $screen-md-min) {
    width: 26px;
    height: 26px;
    font-size: 18px;
    line-height: 25px;
  }
}

.tag-inline {
  position: relative;
  display: inline-block;
  z-index: 0;
  padding: 3px 8px 4px 14px;
  margin: 0;
  min-width: 50px;
  color: $white;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
  letter-spacing: .1em;

  svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    fill: $primary;
  }

  span {
    position: relative;
    z-index: 2;
  }
}

// Divider
// -------------------------

hr {
  margin: 20px 0;
  border-top: 1px solid $gray-1;
}

.divider {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  height: 1px;
  width: 100%;
  background-color: $gray-1;
}

.page {
  .text-primary {
    color: $primary;
  }

  .text-default {
    color: $text-color;
  }
}
