mixin thumbnail-classic(obj)
	// Thumbnail Classic
	article.thumbnail-classic(class=obj.modClass)
		a.thumbnail-classic-figure(href='images/' + obj.imgOriginal + '.jpg' data-lightgallery='item')
			+jpg(obj.img)

		if(obj.number)
			.thumbnail-classic-caption
				h4.thumbnail-classic-title= 'Photo #' + obj.number
				p.thumbnail-classic-text At Win Travel, we offer our clients a variety of snow destinations and winter activities with the top level of comfort.
				a.thumbnail-classic-link.mdi.mdi-plus-circle-outline(href='#')