mixin block-vacancy(obj)
  // Block vacancy
  a.block-vacancy(href='#')
    h4.block-vacancy__title=obj.title
    ul.block-vacancy__meta
      li
        span.icon.icon-primary.material-icons-location_on
        span=obj.location
      li
        span.icon.icon-primary.material-icons-av_timer
        span=obj.employment
      li
        span.icon.icon-primary.mdi.mdi-clock
        span=obj.time