mixin rdc-event(obj)
  li.rdc-event(data-date=obj.date)
    table.table-custom.rdc-inline-event
      thead: tr
        th(colspan="3")
          p.heading-5
            | Available Appointments on  
            span=obj.dateText

      tbody
        tr
          td
            dl.calendar-terms-list
              dt: span.icon.icon-md.icon-primary.fa.fa-clock-o
              dd: time(datetime="2018") 8:00am - 9:00am

          td: span 2 time slots available
          td.text-sm-right: button.button.button-primary(data-toggle="modal" data-target="#appointment") Book an Appointment
        tr
          td
            dl.calendar-terms-list
              dt: span.icon.icon-md.icon-primary.fa.fa-clock-o
              dd: time(datetime="2018") 10:30am - 11:00am

          td
            span 2 time slots available
          td.text-sm-right: button.button.button-primary(data-toggle="modal" data-target="#appointment") Book an Appointment