mixin quote-creative(obj)
  // Quote creative
  article.quote-creative
    .quote-creative__header: .quote-creative__image-wrap
      +jpg(obj.img, 'quote-creative__image')
      
    .quote-creative__main
      p.q=obj.text

      ul.quote-creative__meta
        li: span.cite=obj.cite
        li: span.small=obj.small