mixin quote-light(obj)
  // Quote light
  article.quote-light
    .quote-light__image-wrap
      +jpg(obj.img, 'quote-light__image')

    .quote-light__main
      p.q=obj.text

      ul.quote-light__meta
        li: span.cite=obj.cite
        li: span.small=obj.small  