mixin service-slider(obj)
  - var childId = 'child-carousel-' + obj.number;
  - var parentId = 'parent-carousel-' + obj.number;
    
  .slick-slider-vertical
    .slick-slider.carousel-parent(id=parentId, data-loop='true', data-dots='false', data-swipe='true',  data-items='1' data-child=('#' + childId), data-for=('#' + childId))
      - for (var i = 0; i < obj.media.length; i++) 
        .item: .slick-image: +jpg(obj.media[i])
        
    .slick-slider.carousel-child(id=childId, data-for='#' + parentId, data-arrows='true', data-loop='true', data-dots='false', data-swipe='true', data-items='3', data-xs-items='3', data-sm-items='3', data-md-items='3', data-lg-items='3', data-slide-to-scroll='1', data-vertical='false', data-xs-vertical='false', data-sm-vertical='true', data-md-vertical='true', data-lg-vertical='true', data-center-mode='true')
      - for (var i = 0; i < obj.media.length; i++)
        .item: .slick-slider__inner
          .slick-thumb.bg-image(style="background-image: url(images/" + obj.media[i] + ".jpg);")