/*
*
* Offsets
* --------------------------------------------------
*/

// Element offset
* + p {
  margin-top: 14px;
}
p.big + * {
  margin-top: 30px;
}
p + p {
  margin-top: 10px;
}

// Headings

// Tags + Tags 
img + p { margin-top: 20px; }

// Tags + Classes
h5 + img,
.heading-5 + img {
  margin-top: 30px;
}


// Classes
* + .big { margin-top: 18px; }
* + .range { margin-top: 40px; }
* + .range-offset-1 { margin-top: 10px; }
* + .text-block { margin-top: 30px; }
* + .text-decoration-lines { margin-top: 30px; }
* + .divider-1 { margin-top: 15px; }
* + .divider-small { margin-top: 20px; }
* + .list-md { margin-top: 30px; }
* + .list-terms { margin-top: 25px; }
* + .list-ordered { margin-top: 15px; }
* + .list-marked { margin-top: 15px; }
* + .list-linked { margin-top: 20px; }
* + .list-terms-inline { margin-top: 0; }
* + .list-nav { margin-top: 20px; }
* + .list-2-columns { margin-top: 30px; }
* + .list-decorated { margin-top: 30px; }
* + .figure-light { margin-top: 25px; }
* + .group { margin-top: 30px; }
* + .group-sm { margin-top: 30px; }
* + .group-md { margin-top: 30px; }
* + .group-lg { margin-top: 30px; }
* + .group-xl { margin-top: 35px; }
* + .rd-mailform { margin-top: 30px; }
* + .rd-mailform.rd-mailform_sm { margin-top: 15px; }
* + .rd-mailform.rd-mailform-label-centered { margin-top: 20px; }
* + .line-chart-legend { margin-top: 30px; }
* + .object-decorated,
* + .object-decorated-inline { margin-top: 20px; }
* + .quote-minimal { margin-top: 30px; }
* + .quote-primary { margin-top: 30px; }
* + .privacy-link { margin-top: 30px; }
* + .list-contacts { margin-top: 25px; }

.quote-minimal + * { margin-top: 30px; }
.heading-8 + * { margin-top: 18px; }


// Classes + Tags
* + h2,
* + .heading-2 {
  margin-top: 16px;
}

* + h4,
* + .heading-4 {
  margin-top: 18px;
}

h3 + *,
.heading-3 + * {
  margin-top: 25px;
}

h1 + p,
.heading-1 + p {
  margin-top: 18px;
}

h2 + p,
.heading-2 + p {
  margin-top: 17px;
}

h4 + p,
.heading-4 + p {
  margin-top: 10px;
}

h5 + p,
.heading-5 + p,
h6 + p,
.heading-6 + p{
  margin-top: 20px;
}

h2 + h4,
.heading-2 + h4,
h2 + .heading-4,
.heading-2 + .heading-4 {
  margin-top: 10px;
}

h4 + h5,
.heading-4 + h5,
h4 + .heading-5,
.heading-4 + .heading-5 {
  margin-top: 0;
}

// Classes + Classes
.range + .range { margin-top: 40px; }
.shell + .shell { margin-top: 45px; }
.shell-wide + .shell-fluid { margin-top: 40px; }
.shell + .owl-carousel { margin-top: 30px; }

.page { 
  .heading-decorated + * { margin-top: 25px; }
  .heading-bordered + * { margin-top: 30px; }
  * + .offset-1 { margin-top: 30px; }
  * + .offset-2 { margin-top: 40px; }
}

// Media offsets
@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {
  p + p {
    margin-top: 10px;
  }

  * + .figure-light { margin-top: 40px; }

  h2 + p,
  .heading-2 + p {
    margin-top: 34px;
  }

  * + h4,
  * + .heading-4 {
    margin-top: 32px;
  }
  
  h3 + *,
  .heading-3 + * {
    margin-top: 16px;
  }

  h2 + .range { margin-top: 50px; }
  
  .page {
    * + .offset-2 { margin-top: 0; }
  }

  * + .divider-1 { margin-top: 26px; }
  * + .range-offset-1 { margin-top: 20px; }
  * + .big { margin-top: 25px; }
  * + .list-terms { margin-top: 40px; }
  * + .list-decorated { margin-top: 40px; }
  * + .quote-primary { margin-top: 36px; }
  * + .quote-minimal { margin-top: 45px; }
  * + .group { margin-top: 40px; }
  * + .group-sm { margin-top: 45px; }
  * + .group-md { margin-top: 40px; }
  * + .group-lg { margin-top: 40px; }
  * + .rd-mailform { margin-top: 45px; }
  * + .object-decorated,
  * + .object-decorated-inline { margin-top: 30px; }

  .quote-minimal + * { margin-top: 45px; }

  .shell + .owl-carousel { margin-top: 50px; }

  .page {
    * + .offset-1 { margin-top: 60px; }
    * + .offset-2 { margin-top: 50px; }
  }
}

@media (min-width: $screen-lg-min) {
  * + h4,
  * + .heading-4 {
    margin-top: 50px;
  }

  * + .range-offset-1 { margin-top: 40px; }
}

@media (min-width: $screen-xl-min) {
}


// Range spacing
// -------------------------------
.range-20 {
  @include responsive-offset(20px);
}
.range-30 {
  @include responsive-offset(30px);
}
.range-10 {
  @include responsive-offset(10px);
}
.range-40 {
  @include responsive-offset(40px);
}
.range-50 {
  @include responsive-offset(40px);
}

.range-70 {
  @include responsive-offset(50px);
}

.range-90 {
  @include responsive-offset(45px);
}

@media (min-width: $screen-sm-min) {
  .range-50 {
    @include responsive-offset(50px);
  }

  .range-70 {
    @include responsive-offset(70px);
  }

  .range-90 {
    @include responsive-offset(75px);
  }

  .isotope + .pagination-custom {
    margin-top: 50px;
  }
}

@media (min-width: $screen-md-min) {
  .range-md-30 {
    @include responsive-offset-media(30px);
  }
}

@media (min-width: $screen-lg-min) {
  .range-90 {
    @include responsive-offset(90px);
  }
}

// Insets
// -------------------------