//
// Utilities custom
// --------------------------------------------------
.height-fill {
  position: relative;
  @include display-flex;
  @include flex-direction(column);
  @include align-items(stretch);

  > * {
    @include flex-grow(1);
    @include flex-shrink(0);
  }
}

.block-top-level {
  position: relative;
  z-index: 10;
}

.block-centered {
  margin-left: auto;
  margin-right: auto;
}

.block-small {
  max-width: 655px;
}

// flex cell
.cell-flex {
  display: flex;

  > * {
    flex-grow: 1;
    max-width: 100%;
  }
}

.divider-small {
  height: 2px;
  width: 45px;
  margin-left: auto;
  margin-right: auto;
  background: $secondary;
}

.divider-1 {
  display: block;
  font-size: 0;
  line-height: 0;

  &:before {
    content: "";
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    width: 27px;
    border-top: 3px solid $primary;
  }
}

// Brand
.brand {
  display: inline-block;
  > * + * {
    margin-top: 7px;
  }
}

.brand__name {
}

// Object inline 
.object-inline {
  > * {
    display: inline-block;
    vertical-align: middle;
  }

  > * + * {
    margin-left: 4px;
  }
}

// Text decorations
.text-decoration-lines {
  position: relative;
  overflow: hidden;
  width: 100%;

  &__content {
    position: relative;
    display: inline-block;
    min-width: 170px;
    font-size: 13px;
    text-transform: uppercase;

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 1px;
      background: $gray-1;
      top: 50%;
      width: 100vw;
    }

    &:before {
      left: 0;
      transform: translate(-100%, -50%);
    }

    &:after {
      right: 0;
      transform: translate(100%, -50%);
    }
  }
}

.block-wrap-1 {
  img {
    width: 100%;
  }
  @media (min-width: $screen-lg-min) {
    margin-right: -30px;
  }
}

.grid-2 {
  img { width: 100%; }
  img + img { margin-top: 8%; }
}

// Group 3 columns
.group-3-columns {
  $value: 15px;
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  margin-right: -$value;
  margin-left: -$value;
  margin-bottom: -$value*2;

  .column-item {
    width: 33.33%;
    padding-left: $value;
    padding-right: $value;
    margin-bottom: $value*2;
  }
}

* + .group-3-columns {
  margin-top: 20px;

  @media (min-width: $screen-md-min) {
    margin-top: 30px;
  }
}

// Navigation custom
@media (max-width: $screen-xs-max) {
  .navigation-custom {
    position: relative;
    z-index: 10;
    .navigation-custom__toggle {
      display: block;
      padding: 10px 20px;
      color: $gray-base;
      background: $primary;
      box-shadow: none;
      border: 0;

      &::after {
        position: relative;
        display: inline-block;
        margin-left: 5px;
        content: '\f107';
        font-family: $fa;
        font-size: 14px;
        transition: .22s;
        will-change: transform;
      }

      &.active {
        &::after {
          transform: scale(1, -1);
        }
      }
    }
  }

  .navigation-custom__content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 20px;
    min-width: 240px;
    transform-origin: 50% 0;
    transform: translate3d(0, 100%, 0) scale(1, .8);
    border: 1px solid $gray-4;
    opacity: 0;
    background: $white;
    transition: transform .32s cubic-bezier(1, 0.54, 0.15, 0.86), opacity .2s ease;

    &.active {
      opacity: 1;
      transform: translate3d(0, 100%, 0) scale(1, 1);
    }

    li {
      display: block;
      width: 100%;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .navigation-custom {
    .navigation-custom__toggle {
      display: none;
    }
  }
}

// Object decorated
.object-decorated {
  position: relative;
  margin-left: -5px;
  @include display-inline-flex;
  @include flex-wrap(nowrap);
  @include align-items(center);

  > * {
    display: block;
    margin: 0 5px;
  }

  h4 {
    font-weight: 400;
    color: $gray-7;
  }

  @media (min-width: $screen-sm-min) {
    margin-left: -10px;
    > * {
      margin: 0 10px;
    }
  }
}

.object-decorated-inline {
  display: inline-block;
  h4 {
    font-weight: 400;
    color: $gray-7;
  }
}

.object-decorated__divider {
  height: 4px;
  width: 36px;
  background: $primary;
  @include flex-shrink(0);
  @media (min-width: $screen-sm-min) {
    height: 6px;
    width: 69px;
  }
}

.object-decorated_inline {
  margin-top: 0;
  margin-left: -8px;

  * + & {
    margin-left: 4px;
  }

  > * {
    font-weight: inherit;
    margin: 0 8px;
  }

  .object-decorated__divider {
    width: 36px;
    height: 4px;
  }
}

// Grid layout 2 x 2
.grid-layout-2x2 {
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  .grid-item {
    position: relative;
    width: 50%;
    padding: 20px 12px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 0 solid #d4d9e0;
      z-index: -1;
    }

    &::before {
      left: 12px;
      right: 12px;
    } 

    &::after {
      top: 20px;
      bottom: 20px;
    }

    &:nth-child(2n)::after {
      border-left-width: 1px;
    }

    &:nth-child(n + 3)::before {
      border-top-width: 1px;
    }
  }

  @media (min-width: $screen-xs-min) {
    .grid-item {
      padding: 20px;

      &::before {
        left: 20px;
        right: 20px;
      }

      &::after {
        top: 20px;
        bottom: 20px;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    .grid-item {
      padding: 46px;

      &::before {
        left: 46px;
        right: 46px;
      }

      &::after {
        top: 46px;
        bottom: 46px;
      }
    }
  }
}

.privacy-link {
  a {
    font-weight: 500;
    color: $gray-darker;
    
    &:hover {
      color: $secondary;
    }
  }
}

.max-330 {
  max-width: 330px;
}

.range-xs > [class^='cell-'] {
  padding-left: 4px;
  padding-right: 4px;
}


.page .range > .cell-4 {
  -webkit-flex-basis: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}